//---------------------------------------------------------------------------
//
// Name:        MyAppApp.rc
// Author:      JSVN
// Created:     09-06-2021 19:11:30
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
